@model ContosoUniversity.Models.Department

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@ViewBag.ConcurrencyErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Budget</dt>
        <dd>@Model.Budget</dd>
        <dt>Start Date</dt>
        <dd>@Model.StartDate.ToString("yyyy-MM-dd")</dd>
        <dt>Administrator</dt>
        <dd>@Model.Administrator?.FullName</dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="DepartmentID" type="hidden" />
        <input asp-for="RowVersion" type="hidden" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
