@model ContosoUniversity.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Budget</dt>
        <dd>@Model.Budget</dd>
        <dt>Start Date</dt>
        <dd>@Model.StartDate.ToString("yyyy-MM-dd")</dd>
        <dt>Administrator</dt>
        <dd>@Model.Administrator?.FullName</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
