@model ContosoUniversity.Models.SchoolViewModels.InstructorIndexData

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructors)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewBag.InstructorID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>@item.LastName</td>
                <td>@item.FirstMidName</td>
                <td>@item.HireDate.ToString("yyyy-MM-dd")</td>
                <td>@item.OfficeAssignment?.Location</td>
                <td>
                    @foreach (var course in item.CourseAssignments)
                    {
                        @course.Course.CourseID @:  @course.Course.Title <br />
                    }
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Index" asp-route-id="@item.ID">Select</a>
                    |
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    |
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == (int?)ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    <a asp-action="Index" asp-route-courseID="@item.CourseID">Select</a>
                </td>
                <td>@item.CourseID</td>
                <td>@item.Title</td>
                <td>@item.Department?.Name</td>
            </tr>
        }
    </table>
}

@if (Model.Enrollments != null)
{
    <h3>Students Enrolled in Selected Course</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>@item.Student?.FullName</td>
                <td>@item.Grade</td>
            </tr>
        }
    </table>
}
